################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageLibBenchmarks.sln.DotSettings.user
/SkiaSharp/obj
/SkiaSharp/bin/Release
/ImageSharp/bin/Release
/ImageSharp/obj
/packages
/TestSkiaApp
/image.bytes
/ImageSharp/bin/Debug
/SkiaSharp/bin/Debug
/.vs/VSWorkspaceState.json
/.vs/ImageLibBenchmarks/v15/Server/sqlite3
/.vs/ImageLibBenchmarks/v15/.suo
