################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageLibBenchmarks.sln.DotSettings.user
/SkiaSharp/obj
/SkiaSharp/bin/Release
/ImageSharp/bin/Release
/ImageSharp/obj
/packages
